.history

.cdktf/
*.tfstate
*.tfstate.backup
terraform.tfstate*
*.lock.hcl

.github/workflows/*.log

.env
.env.local
*.env

infra-tech-454706-f8ad3ebcd148.json

.github/workflows/*.log

# Terraform dir firles
infrastructure/node_modules/
infrastructure/cdktf.out/
infrastructure/*.tfstate
infrastructure/*.tfstate.backup
infrastructure/terraform.tfstate*
infrastructure/*.lock.hcl

.DS_Store